<main>
    <app-cor-fundo color="#f7a580" title="Interpolation">
        <p>{{ nome }} tem {{ idade }} anos.</p>
        <p>{{ nome }} tem mais de 30 anos ?</p>
        <p>{{ validaIdade() }}</p>
    </app-cor-fundo>

    <app-cor-fundo color="#824480" title="Property Binding">
        <button class="button" [disabled]="checkedDisabled">Disabled</button>
        <img class="img-biding" [src]="imgSrc" [title]="imgTitle">
    </app-cor-fundo>

    <app-cor-fundo (mousemove)="mouseMoveTest($event)" color="#b9c500" title="Event Binding">
        <div class="position">
            {{ position.x }} - {{ position.y }}
        </div>
        <button class="button" (click)="alertInfo($event)">Event Binding</button>
    </app-cor-fundo>

    <app-cor-fundo color="#e259de" title="Two-Way Binding">
        <input type="text" [(ngModel)]="nome" maxlength="65">
        <span class="nome">
            {{ nome }}
        </span>
    </app-cor-fundo>
</main>